<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>

        <Property name="logpath">/home/mmuser/multimarcas/jars/SrvAcumuladorLealtad/log/</Property>

        <!--
        <Property name="logpath">/Users/fcortest/Desktop/SrvAcumuladorLealtad/log</Property>
        -->
        <Property name="filename">logSrvAcumuladorLealtad.log</Property>
    </Properties>

    <Appenders>
        <RollingFile name="rollingFile" fileName="${logpath}/${filename}" filePattern="${logpath}/${filename}%d{yyyy-MM-dd}" ignoreExceptions="false">
            <PatternLayout charset="UTF-8">
                <Pattern>
                    {"log_data":{"fecha":"%d{yyyy-MM-dd HH:mm:ss}","Level":"%p","Mensaje":"%m","servicios":[%X{servicios}],"TiempoTotal":%X{tiempo}}}%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="500 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.baz.lealtad" additivity="false">
            <AppenderRef ref="rollingFile" />
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>

</Configuration>